.panel{
	width: 80%;
	margin: 10px auto;
	float: none;
}

.txt{
	text-align: left;
	font: "Î¢ÈíÑÅºÚ" 7px;
}
#major-detail{
	margin-top: 70px;
	background: url(../img/major-detail.jpg);
	background-size: cover;
	color: #ffffff;
	text-align: center;
	width: 100%;
	height: 350px;
}

